html{
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(12, 11, 11);
}
Body{
}
address{
  color: yellowgreen;
  text-align: center;
}
h2{
  color:darkorange;
  text-align:center;

}
h1 {
  color: rgb(163, 19, 127);
  text-align: center;
}
h3{
  border: 5px solid rgb(238, 106, 128);
  border-radius: 25px;
  background: rgb(77, 94, 77);
  color: palevioletred;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
  margin: 2em;
  padding: 1em;
  font-weight: 200;

}
h4{
  text-align: center;
  color: yellow;

}
p{
  font-family: Verdana;
  font-size: 25px;
  font-weight: bold;
  color: lightseagreen;
  margin:4em;
}
#quote {
  color:darkgreen;
}


ul {
  color: yellow;
  font-family: "Lucida Console", Courier, monospace;
  display:flex;
  flex-direction: row;
  justify-content: space-around;

}

small{
text-decoration: underline;
color: purple;
text-decoration-style: wavy;
}

footer{
  margin: 4em;
  padding:3em;
  text-align: center;
}